#root {
  margin: 0 auto;
  padding: 0;
}

#editor, #preview {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  border: 1px solid whitesmoke;
  padding: 15px;
  box-sizing: border-box;
  font-size: larger;
  margin: auto; 
  background: white;
  color: black;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}